<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jrbland">Justin Bland.</a>  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>. 
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Justin Bland</h2>
    <br />
    <p>
      Justin enjoys running trails, mountain biking, craft beer, coffee and is an aspiring web developer.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />